# ============================================
# Sprint 1 - Transaction Generator
# ============================================
kafka-python-ng==2.2.3
faker==22.0.0
python-dotenv==1.0.0

# ============================================
# Testing
# ============================================
pytest==7.4.4

# ============================================
# Sprint 2 - PySpark Structured Streaming
# ============================================
pyspark==3.5.0
psycopg2-binary==2.9.9

# ============================================
# Sprint 4 - Streamlit Dashboard
# ============================================
streamlit==1.30.0
plotly==5.18.0
pandas==2.1.4
sqlalchemy==2.0.25
streamlit-autorefresh==1.0.1
